* {
    --theme_color: rgb(53, 223, 166);
    --icon_padding:20px;
}

.navbar__container {
    display: flex;
    justify-content:space-between;
    padding: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
    z-index: 999;
}

.navbar__icon{
    padding: var(--icon_padding);
}

.navbar__icon a{
    color: var(--theme_color);
    font-size:10px;
    
}

.navbar__menu{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar__menu a{
    text-decoration: none;
    margin: 20px;
}

.navbar__menu a:visited{
    color: black;
}

.mobile__menu__icon{
    display: none;
}

/* ================================================ */

.navbar__btn i{
    background-color: var(--theme_color);
    padding: var(--icon_padding);
    border-radius: 5px;
    color: #fff;
}


.navbar__cart{
    list-style-type: none;
    display: none;
}

.navbar__dropdown__btn {
    display: flex;
    background-color: var(--theme_color);
    padding: var(--icon_padding);
    border-radius: 5px;
    color: #fff;
}

@media screen and (max-width: 920px) {
    .navbar__btn {
        display: block ; 
    }

    .navbar__btn i {
        display: none ; 
    }
    
    .navbar__cart{
        display: flex;
        gap: 20px;
    }

    .navbar__menu {
        display: block;
        /* fit size width*/
        box-sizing: border-box;
        text-align: left;
        width: 100%;
        left:0;
        top:0px;
        text-decoration: none;
        position: absolute;
        box-shadow: 5px 10px 8px #dddddd;
        /* animation */
        opacity: 0;
        z-index: -1;

    }
    
    .navbar__menu.active{
        top:110px;
        opacity: 1;
        z-index: 1;
        transition: all 0.5s ease;
        background-color: #fff;
    }
}

